.about-section {
  background: #5aebed;
  background: linear-gradient(65deg, rgba(90, 235, 237, 1) 0%, rgba(178, 219, 195, 1) 54%, rgba(151, 204, 170, 1) 100%);
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.about-section h2 {
  color: #333;
}

.about-section img {
  border: 5px solid #ffffff00;
  transition: transform 0.3s ease;
}

.about-section img:hover {
  transform: scale(1.05);
}
.download-btn{
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.114);
  border-color:rgba(255, 255, 255, 0);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: 0 15px 35px rgba(0,0,0,.2);
  transition: 0.4s ease-in-out;
  cursor: pointer;

}
.download-btn:hover {
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.2);
  border-color:rgba(255,255,255,0.4);
  border-radius: 10px;

}