.skill-card-custom {
  position: relative;
  width: 100%;
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: 0 15px 35px rgba(0,0,0,.2);
  transition: 0.4s ease-in-out;
  cursor: pointer;

  .card-body {
    opacity: 0.8;
    transition: 0.4s ease-in-out;
  }


}

.filter-box {
  margin-bottom: 20px;
}

/* select {
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.114);
  border-color:rgba(255,255,255,0.00);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: 0 15px 35px rgba(0,0,0,.2);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.select-list:hover {
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.2);
  border-color:rgba(255,255,255,0.4);
  border-radius: 10px;
} */
